.main-container {
  background-color: rgb(14, 10, 41);
}
.detail-container {
  margin: 40px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  background-color: blue;
}
.description {
  margin: 20px;
  padding: 20px;
  color: white;
}
